.videoFlexbox {
    display: flex;
}

.videoSection {
    flex-basis: 65%;
    padding-right: 3em;
    padding-left: 3em;
}

.videoListSection {
    flex-basis: 35%;
}

.searchFlexbox {
    padding-top: 2em;
    padding-bottom: 2em;
}