.videoFlexbox {
    display: flex;
}

.videoSection {
    flex-basis: 60%;
    padding-right: 3em;
    padding-left: 3em;
}

.videoListSection {
    flex-basis: 40%;
}

.searchFlexbox {
    padding-top: 3em;
    padding-bottom: 2em;
}