.youtubeSearchbar {
    max-width: 60em;
    margin: auto;
    vertical-align: middle;
}

.searchFlexbox {
    display: flex;
    padding: 1em;
    vertical-align: middle;
    justify-content: center;
}

.searchImage {
    width: 4em;
    padding-right: .9em;
}

.searchImageFlexItem {
}

.searchbarFlexItem {
    vertical-align: middle;
    flex-grow: .5;



}
