.videoItemFlexbox {
    display: flex;
    padding-bottom: 1em;
    padding-right: 3em;
}

.videoDetailsContainer {
    padding-left: .5em;

}
.videoImage {
    width: 16em;
    height: 9em;
}
.videoTitle {
    font-weight: bold;
}