.videoItemFlexbox {
    display: flex;
    padding-bottom: 1em;
    padding-right: 1em;
    justify-content: space-between;
}

.videoItemFlexbox:hover {
    cursor: pointer;
}

.videoDetailsContainer {
    padding-left: .5em;
    flex-basis: .8;
    flex-grow: 1;
}

.videoTitle {
    font-weight: bold !important;
    font-size: 1.1em !important;
}

.videoCreator {
    font-size: .9em;
}

.videoImageContainer {
    flex-basis: .1;
    flex-grow: 0;
}

.videoPlaceholderImage {
    background: lightgray;
    width: 12em !important;
    height: 6.75em !important;
}

.blurryText {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
 }